
<div class="container">
    
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <button class="button">Walk-In Signup 10001</button>
        </div>
        <div class="col">
            <button class="button">New Warehouse 62000</button>
        </div>
        <div class="col">
            <button class="button">Joined Through Work 22318</button>
        </div>
        <div class="col">
            <button class="button">Joined Through Work 22318</button></div>
        <div class="col">
            <button class="button">Search <br> <br></button>
        </div>
        <div class="col"></div>
    </div>
    
</div>