.button {
  background-color: transparent;
  font-size: 18px;
  color: white;
  mix-blend-mode: normal;
  opacity: 0.55;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 3px;
  width: 161px;
  height: 110px;
  }
.button-selected {
  background-color: white;
  font-size: 18px;
  color:#002242;
  mix-blend-mode: normal;
  opacity: 1;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 3px;
  width: 161px;
  height: 110px;
  }


 