<div class="container">
    <div class="row" >
        <div class="col"></div>
        <div class="col" *ngFor="let code of codeButtons">
            <button id="{{code.awarenessCode}}" class="button" [ngClass]="{'button-selected': selected===code.awarenessCode}" (click)=onAwarenessSelection(code)>{{code.awarenessCode}}</button>
        </div>
        
        <div class="col">
            <button id="Search" class="button">Search <br> <br></button>
        </div>
        <div class="col"></div>
    </div>


    <!-- <div class="row">
        <div class="col"></div>
        <div class="col">
            <button id="10001" [ngClass]="{'button' : !selected10001, 'button-selected': selected10001}" (click)=onAwarenessSelection(10001)>Walk-In Signup 10001</button>
        </div>
        <div class="col">
            <button id="62000" [ngClass]="{'button' : !selected62000, 'button-selected': selected62000}"  (click)=onAwarenessSelection(62000)>New Warehouse 62000</button>
        </div>
        <div class="col">
            <button id="22318" [ngClass]="{'button' : !selected22318, 'button-selected': selected22318}"  (click)=onAwarenessSelection(22318)>Joined Through Work 22318</button>
        </div>
        <div class="col">
            <button id="22318" [ngClass]="{'button' : !selected22318, 'button-selected': selected22318}"  (click)=onAwarenessSelection(22318)>Joined Through Work 22318</button></div>
        <div class="col">
            <button id="Search" [ngClass]="{'button' : !selectedSearch, 'button-selected': selectedSearch}"  (click)=onAwarenessSelection(5000)>Search <br> <br></button>
        </div>
        <div class="col"></div>
    </div> -->
    
    
</div>







