<br>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>How did you hear about Costco?</h1>
        </div>
    </div>
</div>
<br>
<app-paid-membership-awarenesscodes></app-paid-membership-awarenesscodes>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col-1s">
            <button class="button-back"><i class="left"></i></button>
        </div>
        <div class="col-9">
            
        </div>
        <div class="col-1">
            <button class="button-continue"><span class="continue-text">Continue</span></button>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>