@import "src/assets/styles/_variables";
.container {
  margin-bottom: 100px;
  h1{
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4375rem;
    text-align: center;
    margin: 5rem 0;
    color: $white;
  }
  label {
    color: $white;
    font-size: 14px;
  }
}

.validation-outline{
  border: 2px solid #F36076;
  margin: 2px;
  margin-top: -47px;
  border-radius: 3px;
  height: 44px;
  box-sizing: border-box;
  pointer-events: none;
}

.validation-icon {
  margin-top: -36px;
  margin-right: 16px;
  float: right;
  width: 24px;
  height: 24px;
  &.valid{
    background-image: url("../../../../assets/images/validation-green.svg");
  }
  &.invalid{
    background-image: url("../../../../assets/images/validation-red.svg");
  }
}

input::-webkit-calendar-picker-indicator{
  display: none;
}

input[type="date"]::-webkit-input-placeholder{
  visibility: hidden !important;
}

