@import "../../../../assets/styles/_variables";
.container {
  h1{
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4375rem;
    text-align: center;
    margin: 5rem 0;
    color: $white;
  }
}
