<div class="container">
    <div class="row">
        <div class="col">
            <h1>Member Information</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group"><label for="prefix">Prefix</label><select class="form-control"
                    id="exampleInputPassword1" type="" placeholder="">
                    <option>test 1</option>
                    <option>test 2</option>
                    <option>test 3</option>
                    <option>test 4</option>
                </select></div>
        </div>
        <div class="col">
            <div class="form-group"><label for="first-name">First Name</label><input class="form-control"
                    id="first-name" type="text" aria-describedby="firstName" placeholder="" /></div>
        </div>
        <div class="col">
            <div class="form-group"><label for="exampleInputPassword1">Middle Initial</label><input class="form-control"
                    id="exampleInputPassword1" type="" placeholder="" /></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group"><label for="exampleInputPassword1">Last Name</label><input class="form-control"
                    id="exampleInputPassword1" type="" placeholder="" /></div>
        </div>
        <div class="col">
            <div class="form-group"><label for="exampleInputPassword1">Suffix</label><select class="form-control"
                    id="exampleInputPassword1" type="" placeholder="">
                    <option>test 1</option>
                    <option>test 2</option>
                    <option>test 3</option>
                    <option>test 4</option>
                </select></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group"><label for="exampleInputPassword1">Address</label><input class="form-control"
                    id="exampleInputPassword1" type="" placeholder="" /></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group"><label for="exampleInputPassword1">City</label><input class="form-control"
                    id="exampleInputPassword1" type="" placeholder="" /></div>
        </div>
        <div class="col">
            <div class="form-group"><label for="exampleInputPassword1">State</label><select class="form-control"
                    id="exampleInputPassword1" type="" placeholder="">
                    <option>test 1</option>
                    <option>test 2</option>
                    <option>test 3</option>
                    <option>test 4</option>
                </select></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group"><label for="exampleInputPassword1">Zip</label><input class="form-control"
                    id="exampleInputPassword1" type="" placeholder="5 digits" /></div>
        </div>
        <div class="col">
            <div class="form-group"><label for="exampleInputPassword1">Country</label><select class="form-control"
                    id="exampleInputPassword1" type="" placeholder="">
                    <option>test 1</option>
                    <option>test 2</option>
                    <option>test 3</option>
                    <option>test 4</option>
                </select></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group"><label for="exampleInputPassword1">Date of Birth</label><input class="form-control"
                    id="exampleInputPassword1" type="" placeholder="MM-DD-YYYY" /></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group"><label for="exampleInputPassword1">ID Type</label><select class="form-control"
                    id="exampleInputPassword1" type="" placeholder="">
                    <option>test 1</option>
                    <option>test 2</option>
                    <option>test 3</option>
                    <option>test 4</option>
                </select></div>
        </div>
        <div class="col">
            <div class="form-group"><label for="exampleInputPassword1">ID Number</label><input class="form-control"
                    id="exampleInputPassword1" type="" placeholder="" /></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group"><label for="exampleInputPassword1">Phone Number</label><input class="form-control"
                    id="exampleInputPassword1" type="" placeholder="(___) ___-____" /></div>
        </div>
        <div class="col">
            <div class="form-group"><label for="exampleInputPassword1">Phone Type</label><select class="form-control"
                    id="exampleInputPassword1" type="" placeholder="">
                    <option>test 1</option>
                    <option>test 2</option>
                    <option>test 3</option>
                    <option>test 4</option>
                </select></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group"><label for="exampleInputPassword1">Email Address</label><input class="form-control"
                    id="exampleInputPassword1" type="" placeholder="" /></div>
        </div>
        <div class="col">
            <div class="form-group"><label for="exampleInputPassword1">Email Type</label><select class="form-control"
                    id="exampleInputPassword1" type="" placeholder="">
                    <option>test 1</option>
                    <option>test 2</option>
                    <option>test 3</option>
                    <option>test 4</option>
                </select></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group"><label for="exampleInputPassword1">Preferred Language</label><select
                    class="form-control" id="exampleInputPassword1" type="" placeholder="">
                    <option>test 1</option>
                    <option>test 2</option>
                    <option>test 3</option>
                    <option>test 4</option>
                </select></div>
        </div>
    </div>
</div>