.container
  .row
    .col
      h1 Member Information
  .row
    .col
      .form-group
        label(for='prefix') Prefix
        select#exampleInputPassword1.form-control(type='', placeholder='')
          option test 1
          option test 2
          option test 3
          option test 4
    .col
      .form-group
        label(for='first-name') First Name
        input#first-name.form-control(type='text', aria-describedby='firstName', placeholder='')
    .col
      .form-group
        label(for='exampleInputPassword1') Middle Initial
        input#exampleInputPassword1.form-control(type='', placeholder='')
  .row
    .col
      .form-group
        label(for='exampleInputPassword1') Last Name
        input#exampleInputPassword1.form-control(type='', placeholder='')
    .col
      .form-group
        label(for='exampleInputPassword1') Suffix
        select#exampleInputPassword1.form-control(type='', placeholder='')
          option test 1
          option test 2
          option test 3
          option test 4
  .row
    .col
      .form-group
        label(for='exampleInputPassword1') Address
        input#exampleInputPassword1.form-control(type='', placeholder='')

  .row
    .col
      .form-group
        label(for='exampleInputPassword1') City
        input#exampleInputPassword1.form-control(type='', placeholder='')
    .col
      .form-group
        label(for='exampleInputPassword1') State
        select#exampleInputPassword1.form-control(type='', placeholder='')
          option test 1
          option test 2
          option test 3
          option test 4
  .row
    .col
      .form-group
        label(for='exampleInputPassword1') Zip
        input#exampleInputPassword1.form-control(type='', placeholder='5 digits')
    .col
      .form-group
        label(for='exampleInputPassword1') Country
        select#exampleInputPassword1.form-control(type='', placeholder='')
          option test 1
          option test 2
          option test 3
          option test 4
  .row
    .col
      .form-group
        label(for='exampleInputPassword1') Date of Birth
        input#exampleInputPassword1.form-control(type='', placeholder='MM-DD-YYYY')
  .row
    .col
      .form-group
        label(for='exampleInputPassword1') ID Type
        select#exampleInputPassword1.form-control(type='', placeholder='')
          option test 1
          option test 2
          option test 3
          option test 4
    .col
      .form-group
        label(for='exampleInputPassword1') ID Number
        input#exampleInputPassword1.form-control(type='', placeholder='')
  .row
    .col
      .form-group
        label(for='exampleInputPassword1') Phone Number
        input#exampleInputPassword1.form-control(type='', placeholder='(___) ___-____')
    .col
      .form-group
        label(for='exampleInputPassword1') Phone Type
        select#exampleInputPassword1.form-control(type='', placeholder='')
          option test 1
          option test 2
          option test 3
          option test 4
  .row
    .col
      .form-group
        label(for='exampleInputPassword1') Email Address
        input#exampleInputPassword1.form-control(type='', placeholder='')
    .col
      .form-group
        label(for='exampleInputPassword1') Email Type
        select#exampleInputPassword1.form-control(type='', placeholder='')
          option test 1
          option test 2
          option test 3
          option test 4
  .row
    .col
      .form-group
        label(for='exampleInputPassword1') Preferred Language
        select#exampleInputPassword1.form-control(type='', placeholder='')
          option test 1
          option test 2
          option test 3
          option test 4
