@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/buttons";
.person-name{
  font-size: 18px;
  font-weight: 500;
  color: #002242;
}
.person-id{
  font-size: 14px;
  color: #878787;
}
.email-phone{
  font-size: 14px;
  color: #002242;
  font-stretch: semi-condensed;
  font-weight: 500;
}
.vertical-center {
  display: inline-flex;
  border: 1px solid #ddd;
  min-height: 100px;
  align-items: center;
}
.my-panels{
  margin-left: 27px;
  margin-right: 27px;
  margin-top: 14px;
  margin-bottom: 14px;
}
.card-spacing {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 14px;
  margin-bottom: 14px;
}
.person-image{
  height: 71px;
  width: 71px;
  object-fit: fill;
}
.col-fixed-width{
  flex: 0 0 100px;
}
.btn-fixed-width{
  flex: 0 0 160px;
}
.word-wrap{
  word-wrap: break-word!important;
}

