<div class="container">
    <div class="row">
        <div class="col-5">
           <div class="text-indicator"> Profile</div>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
            <div class="circle-large"></div>
            <div class="line"></div>
        </div>
        <div class="col-1">
            <div class="circle-small"></div>
        </div>
        <div class="col-1"></div>
        <div class="col-1">
            <div class="circle-small"></div>
        </div>
        <div class="col-1"></div>
        <div class="col-1">
            <div class="circle-small"></div>
        </div>
        <div class="col-1"></div>
        <div class="col-1">
            <div class="circle-small"></div>
        </div>

        
        <div class="col-2"></div>

    </div>
    <div class="row">
        <div class="col">
        </div>
    </div>



</div>