@import "../../../assets/styles/headings";
@import "../../../assets/styles/buttons";

.button-filled{
  background-color: #005CB1;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-style: bold;
  font-weight: bold;
}

.vertical-center {
  display: inline-flex;
  border: 1px solid #ddd;
  min-height: 100px;
  align-items: center;
}
.my-panels{
  margin-top:30px!important;
  margin-right: 20px;
  margin-left: 20px;
}
.row-transparent{
  background-color: transparent!important;
  border-style: none;
}
.fit-image{
  width: 100%;
  object-fit: cover;
  }
  .search-result-box{
    min-height: 93vh;
    .filter-row-background{
      background-color: white;
    }
    .person-result-background{
      background-color: white;
    }
  }

  .filter-options{
    font-size: 16px;
    font-weight: 500;
    color: #005DAB;
    letter-spacing: 0.444444px;
  }
  .filter-links{
    font-size: 14px;
    font-weight: 500;
    color: #005DAB;
  }
  .filter-text{
    font-size: 30px;
    font-weight: 500;
    color: #002242;
    line-height: 38px;
    letter-spacing: 0.642857px;
  }
  .bg-result-color{
    background-color: #eff7fb;
  }
