@import "../../../assets/styles/variables";
.search-button {
  color: $white;
  border: 0.0625rem solid #DBDBDB;
  box-sizing: border-box;
  margin-left: 15px;
  background-color: $costco-dark-blue;
  border-radius: 0.1875rem;
  height: 50px;
}
