<style>
  .my-panels{
    margin-top:30px!important;
    margin-right: 20px;
    margin-left: 20px;
  }

  .text-margins{
    margin-left: 30px;
  }
  .fit-image{
    width: 100%;
    object-fit: cover;

    }
  .row-transperant{
    background-color: transparent!important;
    border-style: none;
  }
  .btn-transperant{
    font-size: 18px;
    background-color: transparent;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid #005dab;
    color: #005dab;
    font-size: 15PX;
    border-radius: 2px;
    margin-top: 10px;
    margin-right: 20px;
  }
  .btn-style-guide{
    font-size: 18px;
    background-color:  #3071a9;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid #005dab;
    color: white;
    font-size: 15PX;
    border-radius: 2px;
    margin-top: 10px;
    margin-right: 20px;
  }
  .h1-style-guide{
    font-size: 36px;
    color: #333333;
  }
  .h2-style-guide{
    font-size: 30px;
    color: #333333;
  }
  .h3-style-guide{
    font-size: 24px;
    color: #333333;
  }
  .h4-style-guide{
    font-size: 24px;
    color: #333333;
  }
  .h4-style-link{
    font-size: 24px;
    color: #0060a9;
    cursor: pointer;
  }
  .h5-style-guide{
    font-size: 20px;
    color: #333333;
  }
  .h5-style-guide-white{
    font-size: 20px;
    color: #ffffff;
  }
  .h5-style-guide-link{
    font-size: 20px;
    color: #0060a9;
    cursor: pointer;
  }
  .h5-style-guide-medium{
    font-size: 20px;
    color: #333333;
    font-weight: medium;
  }
  .h6-style-guide{
    font-size: 18px;
    color: #333333;
  }
  .h6-style-guide-white{
    font-size: 18px;
    color: #ffffff;
  }
  .h6-style-guide-link{
    font-size: 18px;
    color: #0060a9;
    cursor: pointer;
  }
  .h6-style-guide-medium{
    font-size: 18px;
    color: #333333;
    font-weight: medium;
  }
  .h6-style-guide-light{
    font-size: 18px;
    color: #707070
  }
  .h7-style-guide-light{
    font-size: 16px;
    color: #707070
  }
  .h7-style-guide-link{
    font-size: 16px;
    color: #0060a9;
    cursor: pointer;
  }
  .h8-style-guide-link{
    font-size: 14px;
    color: #0060a9;
    cursor: pointer;
  }
  .h8-style-guide{
    font-size: 14px;
    color: #333333;
  }
  .h8-style-guide-light{
    font-size: 14px;
    color: #707070
  }

  .accordion.panel-group .panel {
border: 0;
margin-top: 0;
border-radius: 0;
box-shadow: none;
background-color: inherit;
}
.accordion.panel-group .panel:last-child .panel-heading.collapsed {
border-bottom: 1px solid #ccc;
}
.accordion.panel-group .panel .panel-heading {
cursor: pointer;
position: relative;
border-top: 1px solid #ccc;
border-radius: 0;
background-color: transparent;
padding: 15px 15px 15px 0;
padding: 0.9375rem 0.9375rem 0.9375rem 0;
}
.accordion.panel-group .panel .panel-heading a {
text-decoration: none;
}

.accordion.panel-group .panel .panel-heading .collapsed:after {
content: "\E904";
}
.accordion.panel-group .panel .panel-heading .panel-title {
font-size: 20px;
font-size: 1.25rem;
color: #333;
}
.accordion.panel-group .panel .panel-body {
position: relative;
border: 0;
padding: 10px 0;
}

</style>



<div class="container-fluid" style="background-color: white">
  <div class="row">
    <div class="col-xs-2 text-left row-transperant">
      <div class="h5-style-guide text-margins" style="margin-bottom: 0px;">Username <br/> </div>
      <div class="h7-style-guide-light text-margins" style="margin-top: 0px;">City, ST #12345</div>
    </div>
    <div class="col-xs-8 text-center row-transperant">
        <h4>Costco</h4>
    </div>
    <div class="col-xs-2 text-right row-transperant">
        <p class="h5-style-guide" style="margin-right: 30px;"> <!--{{today | date: 'EEEE, MMMM d': '' : 'en-US'}} --> Date</p>
    </div>
  </div>
</div>

<style>
.menu_screen > .row {
  min-height: 100vh;
}
</style>

<div id="menu_screen" class="container-fluid h-100" style="background-color: #005dab;" onload="document.body.style.backgroundColor = '005dab';" >
    <div class="row justify-content-md-left">
      <div class="col col-lg-10 row-transperant">
        <div class="col col-lg-3 row-transperant"></div>
        <div class="h1-style-guide" style="color: white!important; margin-bottom: 0px; margin-top: 40px;">
          <div class="col col-lg-3 row-transperant"></div>
          Weather widget</div>
      </div>
    </div>
    <div class="row justify-content-md-left">
      <div class="col col-lg-10 row-transperant">

        <div class="h1-style-guide" style="color: white!important; margin-bottom: 0px; margin-top: 0px;">
          <div class="col col-lg-3 row-transperant"></div>
          <span *ngIf="hour > 6 && hour < 12">Good Morning</span>
          <span *ngIf="hour > 12 && hour < 18">Good Afternoon</span>
          <span *ngIf="hour > 18 && hour < 21">Good Evening</span>
          <span *ngIf="hour > 21 && hour < 6">Good Night</span>
          <br />
          <div class="col col-lg-3 row-transperant"></div>
        Username ! </div>
      </div>
    </div>
    <div class="row justify-content-md-left">

        <div class="col col-lg-10 row-transperant">

            <div class="form-group form-group-lg">
              <div class="col col-lg-3 row-transperant"></div>
                <div class="row">
                    <input type="form-control" id="lg" role="combobox" aria-autocomplete="list" style="border-radius: 0;height: 50px!important; margin-left: 0px; width: 800px;">
                    <button type="button" class="btn btn-primary btn-lg h5-style-guide" style="color: white; border-radius: 0;height: 50px!important; margin-left: 15px;background-color:#191970;">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>



<router-outlet></router-outlet>
