<div class="container-fluid head-container" >
  <div class="row">
    <div class="col-lg-2 col-md-2 text-left row-transperant">
      <div class="text-margins head-text mt-2">Username <br/> </div>
      <div class="text-margins head-text-muted">City, ST #12345</div>
    </div>
    <div class="col-lg-8 col-md-8 text-center row-transperant">
        <img class="bc-logo logo-us logo" src="/assets/images/CostcoLogo.png" alt="Costco Logo"/>
    </div>
    <div class="col-lg-2 col-md-2 d-flex justify-content-end row-transperant" >
        <p class="head-text mt-3 mt-2">{{today | date: 'EEEE, MMMM d': '' : 'en-US'}}</p>
    </div>
  </div>
</div>
