@import "./variables";
.h1-style-guide{
  font-size: 36px;
  color: #333333;
}
.h2-style-guide{
  font-size: 30px;
  color: #333333;
}
.h3-style-guide{
  font-size: 24px;
  color: #333333;
}
.h4-style-guide{
  font-size: 24px;
  color: #333333;
}
.h4-style-link{
  font-size: 24px;
  color: #0060a9;
  cursor: pointer;
}
.h5-style-guide{
  font-size: 20px;
  color: #333333;
}
.h5-style-guide-white{
  font-size: 20px;
  color: #ffffff;
}
.h5-style-guide-link{
  font-size: 20px;
  color: #0060a9;
  cursor: pointer;
}
.h5-style-guide-medium{
  font-size: 20px;
  color: #333333;
  font-weight: medium;
}
.h6-style-guide{
  font-size: 18px;
  color: #333333;
}
.h6-style-guide-white{
  font-size: 18px;
  color: #ffffff;
}
.h6-style-guide-link{
  font-size: 18px;
  color: #0060a9;
  cursor: pointer;
}
.h6-style-guide-medium{
  font-size: 18px;
  color: #333333;
  font-weight: medium;
}
.h6-style-guide-light{
  font-size: 18px;
  color: #707070
}
