$costco-dark-blue: #002242;
$costco-bright-blue: #0084CB;
$costco-solid-blue: #005DAB;
$costco-gradient: linear-gradient(360deg, #0089C1 -46.88%, #005CB1 198.13%);

$text-gray-1: #757575;

$bright-green: #64C63B;

$disabled-element-gray: #E4E5E6;

$white: #FFFFFF;
